@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root { color-scheme: light dark; }
  html { -webkit-text-size-adjust: 100%; }
  body { @apply bg-brand-base text-brand-primary; }
  h1,h2,h3,h4 { @apply font-display; }
  a { @apply underline-offset-2; }
}
